parameters:

    default.database.driver: pdo_mysql
    default.database.host: localhost
    default.database.name: bassoon_demo
    default.database.user: dbuser
    default.database.password: same2you
    audit.database.driver: pdo_mysql
    audit.database.host: localhost
    audit.database.name: bassoon_demo_audit
    audit.database.user: dbuser
    audit.database.password: same2you
    timeline.database.driver: pdo_mysql
    timeline.database.host: localhost
    timeline.database.name: bassoon_demo_timeline
    timeline.database.user: dbuser
    timeline.database.password: same2you

    mailer_transport:   smtp
    mailer_host:        localhost
    mailer_user:
    mailer_password:

    locale:             en

    secret:             ThisTokenIsNotSoSecretChangeIt

    # Sonata Admin Options
    sonata_admin.title:             'The Bruery Bassoon'
    sonata_admin.logo_title:        /bundles/brueryadmin/images/bruery-logo2.png

    # Sonata Media options
    sonata_media.cdn.host:          http://demo.sonata-project.org/uploads/media

    # Sonata User Options
    sonata_user.google_authenticator.server:  demo.sonata-project.org