# Created by .ignore support plugin (hsz.mobi)
/admin_dashboard_block_css.css
/admin_dashboard_block_js.js
/admin_graph_css.css
/admin_graph_js.js
/sonata_admin_css.css
/sonata_admin_js.js
/sonata_formatter_css.css
/sonata_formatter_js.js
/sonata_jqueryui_css.css
/sonata_jqueryui_js.js
